<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPXTrailAnalyzer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <GPXTrailAnalyzer.My.MySettings>
            <setting name="BackupDirectory" serializeAs="String">
                <value>d:\tules\Documents\gpxFilesBackup</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
        </GPXTrailAnalyzer.My.MySettings>
    </userSettings>
</configuration>